*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 50%;
  margin: 4rem auto;
  padding: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 1rem;
}

#btn {
  width: 100%;
  padding: 1rem 4rem;
  border-radius: 1000px;
  font-size: 1rem;
  border-width: 0;
  cursor: pointer;
  font-weight: bold;
}

#btn:hover {
  background-color: rgb(122, 189, 189);
}
